/* #004C7F #4CB6FF #0097FF #0A2A40 #0079CC */

* {
	font-family:Helvetica, sans-serif;
}
.navbar-default {
	background-color:#0A2A40;
	border-color:#FFFFFF;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
	 font-weight: bold;
}

.navbar-default .navbar-nav>li>a { color: #FFF;}

.navbar-default .navbar-toggle .icon-bar { background-color: #FFF; }
i.feature {	font-size:100px;}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #7F1800;
  background-color: #FFF;
}

.btn-blue {
	background-color:#FFFFFF;
	border-color:#0079CC;
	color:#0079CC;
}

.btn-orange {
	background-color:#FFF;
	border-color:#0079CC;
	color:#0079CC;
}

.form-control {
	border: 1px solid #0079CC;
}

.footer .btn-default {
  color: #0079CC;
  background-color: #FFF;
  border-color: #0079CC;
}

#features {padding: 50px 0px;}


#hero {
	background-color:#0A2A40;color:#FFF;
	padding:100px 0px 80px 0px;
}
#hero h2 {font-size:5em;
	margin-bottom:.25em;
}
#hero p#subtitle {
	font-size:2.5em;
	margin-bottom:.5em;
	font-style:italic;}

#hero p#hard-sell {margin-top:50px;font-size:1.75em;}

#benefits {
	padding: 50px 0px 50px 0;
}

#benefits h2 {
	font-size: 3.5em;
  	line-height: 1.5em;
}

#benefits p#subtitle {margin-bottom:24px;
	font-size:1.5em;}

#benefits img {
	background-color:#FFF;
}

#benefits h2 { color:#0A2A40;
	font-weight:bold;}

#benefits .features {margin-top:24px;}

#action {
	padding:75px 0px;
	background-color:#0079CC;
}

#action h2 {text-align:right;color:#FFF;}

#action .input-group {margin-top:19px;}

#action .btn-default {border:1px solid #0A2A40;color:#0A2A40;}

#faq {padding: 50px 0px 50px 0px;}
#faq h2 {text-align:right;}

#faq .panel-default>.panel-heading {
  color: #0A2A40;
  background-color: #FFFFFF;
  border-color: #0A2A40;
}

#faq .panel-default {
  border-color: #0A2A40;
}

#food h2{font-size:4em;
	margin-bottom:.25em;
	font-weight:bold;
	color:#0079CC;	
}

#food p#subtitle {margin-bottom:24px;
	font-size:1.15em;}

#free h2{font-size:4em;
		margin-bottom:.25em;
		font-weight:bold;
		color:#0079CC;	
	}

#free p { padding: 20px 0px 0px 0px; font-size:1.25em;}	


.footer {
	background-color:#595959;
	color:#FFF;
	padding:30px 0px;
}

.footer small {color:#FFF;}

.footer a {color:#0079CC;}

.footer .copyright {padding:25px 0 0 0px;}

#lookgood {
	padding:50px;
}

#featurehome {
	background-color:#0A2A40;
	color:#FFF;padding:80px 0px 80px 0px;}
	
#featurehome h2 {font-size:5em;margin-bottom:.25em;}
	
#featurehome p#subtitle {font-size:2.0em;
	margin-bottom:.5em;
	font-style:;}

#featurehome p#hard-sell {margin-top:50px;font-size:1.75em;}
